* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MuseoCyrl-900";
  src: url("../fonts/MuseoCyrl-900.woff") format("woff"),
    url("../fonts/MuseoCyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  color: #202020;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 11px 0;
  background-color: #f1f1f1;
}

.container {
  max-width: 1137px;
  margin: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}

.nav-link {
  margin: 0 11px;
  text-decoration: none;
  color: inherit;
}

.account {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.hero {
  padding-top: 62px;
  padding-bottom: 71px;
  display: flex;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-image {
  margin-right: 122px;
}

.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}

.title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "MuseoCyrl-900";
  font-weight: 900;
  font-size: 54px;
}

.subtitle {
  max-width: 355px;
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 48px;
}

.heart {
  width: 26px;
  height: 23px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 49px;
}

.type {
  flex-basis: 38%;
}

.date {
  flex-basis: 38%;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.cost {
  margin-right: 64px;
  font-size: 55px;
  font-weight: 400;
  display: inline-block;
}

.favorites {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.add {
  font-size: 16px;
  font-weight: 400;
}

.heart {
  margin-right: 7;
}

.button-read {
  width: 250px;
  height: 60px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f89c02;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.button-buy {
  width: 250px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #f89c02;
  border: 2px solid #f89c02;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.about {
  background-color: #f1f1f1;
  padding: 95px 0;
  display: flex;
}

.about-container {
  display: flex;
  align-items: flex-start;
}

.about-text {
  max-width: 455px;
  margin-right: 130px;
}

.section-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
}

.title-about {
  margin-bottom: 35px;
}

.summary {
  font-size: 16px;
  font-weight: 400;
}

.about-author {
  padding: 68px 53px;
  max-width: 552px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 1px 120px 0px rgba(161, 161, 161, 0.07);
  border-radius: 10px;
  background-color: #ffffff;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 21px;
}

.author-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
}

.author-name {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
}

.author-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
}

.author-bio {
  font-size: 16px;
  font-weight: 400;
}

.readers {
  padding-top: 57px;
  padding-bottom: 109px;
}

.title-readers {
  margin-bottom: 57px;
}

.readers-photos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.photo {
  width: 165px;
  height: 165px;
  object-fit: cover;
}
