*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "MuseoCyrl-900";
  src: url("../fonts/MuseoCyrl-900.woff") format("woff"),
    url("../fonts/MuseoCyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  color: #202020;
  font-family: "Roboto", sans-serif;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  padding: 22px 0;
  background-color: #f1f1f1;
}

.container {
  max-width: 1137px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  font-size: 14px;
  font-weight: 400;
}

.nav-link {
  margin: 0 11px;
  text-decoration: none;
  color: #202020;
}

.account {
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  text-decoration: none;
}

.hero {
  padding-top: 62px;
  padding-bottom: 71px;
  margin-top: 60px;
  display: flex;
}

.hero-wrapper {
  display: flex;
  align-items: center;
}

.hero-image {
  position: relative;
  margin-right: 122px;
}

.image-book {
  width: 100%;
}

.sale {
  position: absolute;
  top: 23px;
  right: 0;
  padding: 12px 17px;
  background-color: #c93535;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}

.title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "MuseoCyrl-900";
  font-weight: 900;
  font-size: 54px;
}

.subtitle {
  max-width: 355px;
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 48px;
}

.heart {
  width: 26px;
  height: 23px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 49px;
}

.type {
  flex-basis: 38%;
}

.date {
  flex-basis: 38%;
  margin-bottom: 16px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.cost {
  margin-right: 64px;
  font-size: 55px;
  font-weight: 400;
  display: inline-block;
}

.favorites {
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.add {
  font-size: 16px;
  font-weight: 400;
}

.heart {
  margin-right: 7px;
}

.button-read {
  width: 250px;
  height: 60px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f89c02;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.button-buy {
  width: 250px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #f89c02;
  border: 2px solid #f89c02;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.about {
  background-color: #f1f1f1;
  padding: 95px 0;
  display: flex;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
}

.about-text {
  max-width: 455px;
  margin-right: 130px;
}

.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.title-about {
  margin-bottom: 35px;
}

.summary {
  font-size: 16px;
  font-weight: 400;
}

.about-author {
  padding: 68px 53px;
  max-width: 552px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 1px 120px 0px rgba(161, 161, 161, 0.07);
  border-radius: 10px;
  background-color: #ffffff;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 21px;
}

.author-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
}

.author-name {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
}

.author-text :nth-child(3) {
  display: none;
}

.author-link {
  text-decoration: none;
  color: #202020;
  font-size: 16px;
  font-weight: 400;
}

.author-bio {
  font-size: 16px;
  font-weight: 400;
}

.readers {
  padding-top: 87px;
  padding-bottom: 109px;
}

.title-readers {
  margin-bottom: 57px;
}

.readers-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.readers-bottom {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 165px;
  height: 165px;
  object-fit: cover;
}

.footer {
  padding-top: 60px;
  padding-bottom: 93px;
  background-color: #f1f1f1;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.requisites {
  margin-right: 167px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}

.footer-list {
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}

.list-item {
  margin-bottom: 15px;
}

.footer-link {
  text-decoration: none;
  color: #202020;
}

.information {
  margin-right: 158px;
}

.return {
  position: fixed;
  bottom: 113px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 120px 0px rgba(161, 161, 161, 0.07);
  border-radius: 4px;
  background-color: #ffffff;
}

.return-image {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hero {
    padding-bottom: 90px;
  }

  .hero-image {
    margin-right: 29px;
    min-width: 390px;
    max-width: 390px;
  }

  .about-text {
    margin-right: 52px;
    max-width: 367px;
  }

  .photo {
    width: 139px;
    height: 139px;
  }

  .readers {
    padding-top: 69px;
    padding-bottom: 94px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 761px;
  }

  .hero {
    padding-top: 59px;
    padding-bottom: 79px;
  }

  .hero-image {
    margin-right: 30px;
    max-width: 298px;
    min-width: 298px;
  }

  .nav {
    display: none;
  }

  .author {
    font-size: 22px;
    margin-bottom: 13px;
  }

  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }

  .subtitle {
    margin-bottom: 28px;
  }

  .description {
    margin-bottom: 25px;
  }

  .type {
    flex-basis: 45%;
  }

  .date {
    flex-basis: 45%;
  }

  .price {
    margin-bottom: 25px;
  }

  .button-read {
    width: 200px;
    height: 48px;
    font-size: 14px;
    margin-right: 14px;
  }

  .button-buy {
    width: 200px;
    height: 48px;
    font-size: 14px;
  }

  .about-wrapper {
    flex-wrap: wrap;
  }

  .about {
    padding-top: 81px;
    padding-bottom: 82px;
  }

  .about-text {
    margin: 0;
    margin-bottom: 62px;
    min-width: 100%;
  }

  .title-about {
    margin-bottom: 29px;
  }

  .section-title {
    font-size: 24px;
  }

  .readers {
    padding-top: 74px;
    padding-bottom: 81px;
  }

  .readers-top img:nth-child(n + 5) {
    display: none;
  }

  .readers-bottom img:nth-child(n + 5) {
    display: none;
  }

  .photo {
    width: 165px;
    height: 165px;
  }

  .readers-top {
    margin-bottom: 30px;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 92px;
  }

  .footer-wrapper {
    flex-wrap: nowrap;
  }

  .requisites {
    margin-right: 60px;
  }

  .information {
    margin-right: 60px;
  }

  .return {
    width: 40px;
    height: 40px;
    bottom: 90px;
    right: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero-wrapper {
    flex-wrap: wrap;
  }

  .hero-image {
    min-width: 100%;
    margin-bottom: 60px;
  }

  .about-text {
    margin-bottom: 70px;
  }

  .about {
    padding-bottom: 89px;
  }

  .readers {
    padding-top: 80px;
    padding-bottom: 85px;
  }

  .readers-top img:nth-child(n + 4) {
    display: none;
  }

  .readers-bottom img:nth-child(n + 4) {
    display: none;
  }

  .footer-wrapper {
    flex-wrap: wrap;
  }

  .footer {
    padding-bottom: 78px;
  }

  .information {
    margin: 0;
  }

  .requisites {
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 481px;
  }

  .hero {
    padding-bottom: 64px;
  }

  .info {
    min-width: 100%;
  }

  .author {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 31px;
  }

  .description {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .description-text {
    margin-bottom: 19px;
  }

  .age {
    margin: 0;
  }

  .price {
    margin-bottom: 36px;
  }

  .cost {
    margin-right: 28px;
  }

  .add {
    display: none;
  }

  .button-read {
    width: 481px;
    height: 77px;
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
  }

  .button-buy {
    width: 481px;
    height: 77px;
    font-size: 16px;
  }

  .about {
    padding-top: 60px;
    padding-bottom: 97px;
  }

  .title-about {
    margin-bottom: 35px;
  }

  .author-text {
    flex-direction: column;
    align-items: flex-start;
  }

  .author-text :nth-child(2) {
    display: none;
  }

  .author-text :nth-child(3) {
    display: contents;
  }

  .author-avatar {
    width: 66px;
    height: 66px;
    margin-right: 16px;
  }

  .author-link {
    font-size: 14px;
  }

  .author-bio {
    font-size: 14px;
  }

  .readers {
    padding-top: 55px;
    padding-bottom: 69px;
  }

  .title-readers {
    margin-bottom: 43px;
  }

  .photo {
    width: 144px;
    height: 144px;
  }

  .footer {
    padding: 60px 0;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .requisites,
  .information {
    margin: 0;
    margin-bottom: 21px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 85%;
  }

  .hero {
    padding-top: 15%;
    padding-bottom: 19%;
  }

  .hero-image {
    margin-bottom: 14%;
  }

  .author {
    font-size: 16px;
    margin-bottom: 5%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 3.5%;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 13%;
  }

  .description {
    margin-bottom: 13%;
  }

  .description-text {
    font-size: 14px;
    margin-bottom: 6.5%;
  }

  .age {
    margin: 0;
  }

  .button-read {
    width: 100%;
    padding: 7% 20%;
    font-size: 16px;
    margin: 0;
    margin-bottom: 6%;
  }

  .button-buy {
    width: 100%;
    padding: 7% 24%;
    font-size: 16px;
  }

  .about {
    padding-bottom: 12%;
  }

  .about-text {
    margin-bottom: 10%;
  }

  .about-author {
    padding: 8% 5%;
  }

  .readers-top img:nth-child(n + 3) {
    display: none;
  }

  .readers-bottom img:nth-child(n + 3) {
    display: none;
  }

  .photo {
    width: 45%;
    height: 45%;
  }

  .readers {
    padding: 15% 0;
  }
}
